<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009161760873-mgk08bdhc4htdpe11v12jgli9or9ohps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009161760873-mgk08bdhc4htdpe11v12jgli9or9ohps</string>
	<key>API_KEY</key>
	<string>AIzaSyDAZW8Ye4eEtTuGaiv_caRSjEolgguBt1A</string>
	<key>GCM_SENDER_ID</key>
	<string>1009161760873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>campaignkingdom</string>
	<key>PROJECT_ID</key>
	<string>campaign-kingdom</string>
	<key>STORAGE_BUCKET</key>
	<string>campaign-kingdom.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009161760873:ios:fd2b7d59e0677169ddb2f8</string>
</dict>
</plist>